<html>
<head>

    <link href="~/Content/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin="" />
    <link href="~/Content/leafletContextMenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://watson.lennardvoogdt.nl/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" />

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>
    <script src="http://watson.lennardvoogdt.nl/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>

    <script src="~/scripts/leafletContextMenu.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <!-- AngularJS Cookies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="~/scripts/FormatCoords.js"></script>
    <script src="~/scripts/Domain/Location.js"></script>
    <script src="~/scripts/app/app.js"></script>
    <script>
        function setupFireBase(authOn) {
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCOhXIMesOPvT31nDVq29mQW83aP6oNzpI",
                authDomain: "miscreatedc-interactive-map.firebaseapp.com",
                databaseURL: "https://miscreatedc-interactive-map.firebaseio.com",
                projectId: "miscreatedc-interactive-map",
                storageBucket: "",
                messagingSenderId: "272173488008"
            };
            firebase.initializeApp(config);
            
        }
        setupFireBase(false);
    </script>
    <script>
        

        angular.element(document).ready(function () {
            angular.bootstrap(document, ['myApp'], { strictDi: false });
        });
    </script>
</head>
<body>
    <div ng-controller="MyCtrl">

        @Html.Partial("~/views/partials/Navigation.cshtml")
        <!-- errorModal Modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Error</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">You must be logged in to perform this action!</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="doLogin()">Login with Google</button>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("~/views/partials/_addServerModal.cshtml")
        @Html.Partial("~/views/partials/FindGameLocation.cshtml")

        @Html.Partial("~/views/partials/LocationModals.cshtml")


        @Html.Partial("~/views/partials/tablist/Navigation.cshtml")
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active well" id="map">
                <div class="row">
                    <div id="image-map" class="col-md-10"></div>
                    <div id="itemdetails" class="col-md-2"></div>
                </div>
                
            </div>
            @Html.Partial("~/views/partials/tablist/LocationsPanel.cshtml")
            @Html.Partial("~/views/partials/tablist/ServersPanel.cshtml")
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        
    </div>
</body>
</html>
